<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/context
  http://www.springframework.org/schema/context/spring-context.xsd
  http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd">

	<util:properties id="applicationProperties" location="classpath:sources.properties" />

	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:sources.properties</value>
			</list>
		</property>
		<property name="ignoreUnresolvablePlaceholders" value="false" />
	</bean>

	<bean class="com.kkrishna.nfl.phatstats.ssdp.Resources" scope="request">
		<constructor-arg value="${nfl_players_list}" />
		<constructor-arg value="${nfl_teams_list}" />
		<constructor-arg value="${news_url}" />
		<constructor-arg value="${nfl_schedule_url}" />
		<constructor-arg value="${nfl_defense_rushing_rankings}" />
		<constructor-arg value="${nfl_defense_passing_rankings}" />
	</bean>

	<bean id="httpCLient" class="com.kkrishna.nfl.phatstats.ssdp.PhatHttpClient"
		scope="request" />

	<bean class="com.kkrishna.nfl.phatstats.news.NewsFactory" scope="request">
	</bean>

</beans>